.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #094C5F;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 75px;
  height: 75px;
}

.logo .app-name {
  font-size: 24px;
  margin-left: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
.header {
  padding: 1rem;
}
}
