.ResultsTable {
    width: 100%;
    font-size: 1rem;
}

.ResultsTable table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ResultsTable th, .ResultsTable td {
    font-weight: normal;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

.ResultsTable th {
    font-weight: bold;
    background-color: #1F5668; 
    color: white;
}

.ResultsTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Remove outer borders */
.ResultsTable tr:first-child th {
    border-top: none;
}

.ResultsTable tr:last-child td {
    border-bottom: none;
}

.ResultsTable th:first-child, .ResultsTable td:first-child {
    border-left: none;
}

.ResultsTable th:last-child, .ResultsTable td:last-child {
    border-right: none;
}

.ResultsTable td:first-child, .ResultsTable th:first-child {
    font-weight: bold;
}

/* Responsive layout for small screens */
@media only screen and (max-width: 768px) {
    .ResultsTable table, .ResultsTable thead, .ResultsTable tbody, .ResultsTable th, .ResultsTable td, .ResultsTable tr { 
        display: block; 
    }

    .ResultsTable thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ResultsTable td { 
        border: none;
        position: relative;
        padding-left: 0%; 
        text-align: left;
    }

    .ResultsTable td:before { 
        position: relative;
        left: 0;
        display: block;
        width: 100%; 
        padding: 0;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
        padding-bottom: 5px;
    }

    .ResultsTable td:nth-of-type(1):before { content: "Product"; }
    .ResultsTable td:nth-of-type(2):before { content: "Description"; }
    .ResultsTable td:nth-of-type(3):before { content: "Potential Clients"; }
    .ResultsTable td:nth-of-type(4):before { content: "Where to Find Clients"; }
    .ResultsTable td:nth-of-type(5):before { content: "Get more info"; }
}
